.App {
  text-align: center;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
}

.App-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #000;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  width: 300px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}
.App-date {
  margin-top: auto;
}

@media (max-width: 540px) {
  .App-wrapper {
    width: 200px;
  }
}
